 @import url('https://fonts.googleapis.com/css?family=Aldrich');
 header{
	background: ;
	color: white;
	padding: 8px 0px 6px 40px;
	height: 45px;
}
header h1
{
	display: inline;
	
	float: left;
	font-size: 40px;
	margin-top: 0px;
	margin-right: 10px;
	color: grey;

}
nav ul{
	display: inline;
	padding: 0px;
	float: left;
    font-family: 'Aldrich', sans-serif;
    padding: 250px 10px 00px 00px;


}
nav ul li{
	display: inline;
	list-style-type: none;
	margin-left: 88px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 25px;
}
.edit2:hover{
	transiotion-delay: 0.5s;
	transition-duration: 0.5s;
	background-color: #dd7e26;
	padding: 12px;
	border-radius: 10px;
}.edit1,ul,li,a{
	display: inline;
	padding: 0px;
	float: right;
    font-family: 'Aldrich', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: white;


}

